$color-primary: #7695ec;

$color-bg-page: #dddddd;
$color-bg-card: #ffffff;

$color-text-primary: #000000;
$color-text-secondary: #777777;
$color-text-placeholder: #cccccc;
$color-text-inverse: #ffffff;

$color-border-modal: #999999;

$color-success: #47b960;
$color-danger: #ff5151;

$color-overlay: #777777cc;
