@use '../../styles/tokens' as vars;

.postFilter {
  display: flex;
  justify-content: flex-start;
  gap: vars.$space-xs;

  &__button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: vars.$font-sm;
    color: vars.$color-text-secondary;

    &--active {
      color: vars.$color-primary;
      font-weight: vars.$font-weight-bold;
    }
  }
}
