@use './styles/tokens' as vars;

.container {
  width: 100%;
  max-width: 800px;
  min-height: 100dvh;
  margin: 0 auto;
  background-color: vars.$color-bg-card;
}

.main {
  width: 100%;
  max-width: 752px;
  margin: 0 auto;
  padding: 24px 0;
}

.feedControls {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 24px 0;
}

.divider {
  width: 1px;
  height: 16px;
  background: vars.$color-text-secondary;
  opacity: 0.3;
}
